.productBrand{
    display: block;
    line-height: 20px;
    font-family: quicksand;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sellingPrice{
    font-family: 'Montserrat, sans-serif';
    font-weight: 700;
}

.productBrand {
    font-family: 'Montserrat, sans-serif';
}
.nameContainer{
    padding:12px 0px
}
