.galleryTitle--layout {
    text-align: center;
    padding: 0px 4rem;
    background-color: #03044e;
    color: #ffffff;
    max-height: 56px;
    margin-left: 2px;
}

.filterTitle{
    font-size: 26px;
    background: lightgray;
    color:black;
    padding: 10px;
}

.filter{
    padding: 0px 0px 0px;
}

.galleryItem{
    max-width: 300px;
}