.notificationBarContainer {
  font-weight: 700;
  font-size: 12px;
}
.notificationBarInner{
  min-height: auto;
  padding: .2rem;
}
.logoContainer{
  display:block;
}
.logoContainer img{
  width:140px;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0;
}

.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.specificationsTitle{
  display: none;
}

.specificationsTableContainer{
  padding: 0px 0px 0px 0px;
}

.inputGroup {
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
  display: flex;
  color: #fff;
}

.buttonContainer {
  padding-top: 0;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.imageElement--sideImage{
  border-radius: 10px;
}

.infoCardContainer--sideImage{
  min-height: 200px;
  margin: 4px 10px;
  border-radius: 10px;
}

.imageElement {
  border-radius: 10px;
}
.imageElement--giftCard{
  width: 100%;
  margin: 10px;
}

.imageElement--writerPhoto{
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0;
    max-height: 600px;
  }
}

.infoCardContainer {
  border: unset;
}

.infoCardHeadline {
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -5.6px;
  border: none;
  margin-top: 45px;
  margin-bottom: 45px;
  text-transform: none;
}

.infoCardSubhead {
  font-family: 'Montserrat';
  color: #999999;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: -0.92px;
  line-height: 30px;
}
