.flexColChild {
  height: auto !important;
}
.flexRow--inverted{
  background:#eee;
  margin-bottom:1rem;
}
.flexColChild--tright{
  text-align:right;
}
.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--rightColInst{
  padding-left: 20px;;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--shelfRow{
  margin: 65px 0px;
}

.flexRow--carouselRow {
  margin: 30px 10px;
}

.flexRow--institutionalRow{
  margin: 50px 0px;
}

.flexCol--sideBar{
  display: none;
}

@media only screen and (min-width: 640px) {
  .flexCol--sideBar{
      display: block;
  }
}